google-auth==1.23.0
google-cloud-datastore == 1.8.0
google-cloud-pubsub==1.0.2
google-cloud-secret-manager==1.0.0
google-cloud-storage==1.23.0
xmltodict==0.12.0
python-dateutil==2.8.0
six==1.15.0
requests==2.22.0
pyOpenSSL==19.0.0
PyPDF2==1.26.0
gobits==0.0.7
