cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
cryptography==3.4.7
gobits==0.0.7
google-api-core==1.27.0
google-auth==1.23.0
google-cloud-core==1.5.0
google-cloud-datastore==1.8.0
google-cloud-pubsub==1.0.2
google-cloud-secret-manager==1.0.0
google-cloud-storage==1.23.0
google-resumable-media==0.5.1
googleapis-common-protos==1.53.0
grpc-google-iam-v1==0.12.3
grpcio==1.38.0
idna==2.8
packaging==20.9
protobuf==3.17.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==19.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
python-dateutil==2.8.0
pytz==2021.1
requests==2.22.0
rsa==4.7.2
six==1.15.0
urllib3==1.26.5
Werkzeug==1.0.1
xmltodict==0.12.0
